backend:
  name: git-gateway
  branch: master

media_library:
  name: uploadcare
  config:
    publicKey: f8f360c9efdce53e4af8
    multiple: false
    tabs: file camera url facebook gdrive
    effects: crop,rotate,enhance,grayscale
    imageShrink: 2000x2000
    previewStep: true
    clearable: true

# prettier-ignore
collections:
  - label: Pages
    name: pages
    delete: false
    files:
      - label: Home Page
        name: home-page
        file: content/pages/home.md
        fields:
          - { label: Template, name: template, widget: hidden, default: homePage }
          - { label: Slug, name: slug, widget: hidden, default: '' }
          - { label: Title, name: title, widget: string }
          - label: Carousel
            name: carousel
            widget: list
            fields:
              - { label: Image, name: image, widget: image }
              - { label: Alt, name: alt, widget: string }
          - { label: Featured Title, name: featuredTitle, widget: string }
          - label: Featured
            name: featured
            widget: list
            fields:
              - { label: Title, name: title, widget: relation, collection: products, searchFields: [title], valueField: title }
              - { label: Image, name: image, widget: relation, collection: products, searchFields: [title], valueField: featuredImage }
          - { label: Section, name: section, widget: markdown }
          - { label: Instagram Title, name: instagramTitle, widget: string }
          - label: Meta
            name: meta
            widget: object
            required: false
            fields:
              - { label: Title, name: title, widget: string, required: false }
              - { label: Description, name: description, widget: text, required: false }

      - label: Shop Page
        name: shop-page
        file: content/pages/shop.md
        fields:
          - { label: Template, name: template, widget: hidden, default: shopPage }
          - { label: Slug, name: slug, widget: hidden, default: shop }
          - { label: Title, name: title, widget: string }
          - label: Meta
            name: meta
            widget: object
            required: false
            fields:
              - { label: Title, name: title, widget: string, required: false }
              - { label: Description, name: description, widget: text, required: false }

      - label: About Page
        name: about-page
        file: content/pages/about.md
        fields:
          - { label: Template, name: template, widget: hidden, default: aboutPage }
          - { label: Slug, name: slug, widget: hidden, default: about }
          - { label: Title, name: title, widget: string }
          - { label: Body, name: body, widget: markdown }
          - label: Meta
            name: meta
            widget: object
            required: false
            fields:
              - { label: Title, name: title, widget: string, required: false }
              - { label: Description, name: description, widget: text, required: false }

      - label: Contact Page
        name: contact-page
        file: content/pages/contact.md
        fields:
          - { label: Template, name: template, widget: hidden, default: contactPage }
          - { label: Slug, name: slug, widget: hidden, default: contact }
          - { label: Title, name: title, widget: string }
          - { label: Body, name: body, widget: markdown }
          - label: Meta
            name: meta
            widget: object
            required: false
            fields:
              - { label: Title, name: title, widget: string, required: false }
              - { label: Description, name: description, widget: text, required: false }

  - label: Products
    name: products
    folder: content/products
    slug: '{{slug}}'
    create: true
    fields:
      - { label: Template, name: template, widget: hidden, default: product }
      - { label: Date, name: date, widget: datetime }
      - { label: Title, name: title, widget: string }
      - { label: Price, name: price, widget: string, default: '$10.00 CAD' }
      - { label: Body, name: body, widget: markdown }
      - { label: Description, name: description, widget: text }
      - { label: Featured Image, name: featuredImage, widget: image }
      - { label: Gallery Images, name: galleryImages, widget: image, multiple: true }
      - label: Collections
        name: collections
        widget: list
        required: false
        fields:
          - { label: Collection, name: collection, widget: relation, collection: collections, searchFields: [title], valueField: title }
      - { label: Status, name: status, widget: select, options: [Published, Featured, Draft], default: Published }

  - label: Collections
    name: collections
    folder: content/collections
    slug: '{{slug}}'
    create: true
    fields:
      - { label: Template, name: template, widget: hidden, default: shopPage }
      - { label: Date, name: date, widget: datetime }
      - { label: Title, name: title, widget: string }
      - { label: Description, name: description, widget: text, required: false }
      - { label: Featured Image, name: featuredImage, widget: image, required: false }

  - label: Settings
    name: settings
    delete: false
    files:
      - label: Global Settings
        name: global-settings
        file: content/settings/global.yml
        fields:
          - { label: Site Title, name: siteTitle, widget: string }
          - { label: Site Url, name: siteUrl, widget: string, required: false }
          - { label: Site Description, name: siteDescription, widget: text, required: false }
          - { label: Google Analytics Tracking Id, name: googleTrackingId, widget: string, required: false }
          - label: Social Media Card
            name: socialMediaCard
            widget: object
            fields:
              - { label: Image, name: image, widget: image, required: false }

  # - label: "Home Section"
  #   name: "sections"
  #   widget: "list"
  #   types:
  #     - label: "Carousel"
  #       name: "carousel"
  #       widget: object
  #       fields:
  #         - {label: Header, name: header, widget: string, default: "Image Gallery"}
  #         - {label: Template, name: template, widget: string, default: "carousel.html"}
  #         - label: Images
  #           name: images
  #           widget: list
  #           field: {label: Image, name: image, widget: image}
  #     - label: "Spotlight"
  #       name: "spotlight"
  #       widget: object
  #       fields:
  #         - {label: Header, name: header, widget: string, default: "Spotlight"}
  #         - {label: Template, name: template, widget: string, default: "spotlight.html"}
  #         - {label: Text, name: text, widget: text, default: "Hello World"}
